# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Mac / OS
.DS_Store

# Data / outputs
data/processed/*.csv
results/plots/*.png
results/plots/*.jpg
results/metrics/*.csv

# Misc
.env

# Xcode
watch_streamer/**/*.xcuserstate
watch_streamer/**/xcuserdata/
watch_streamer/**/.DS_Store
watch_data.csv
